<!doctype html>

<html lang="es">
	<head>
		<title>Página Principal</title>
	</head>
	<body>
		<p>Dime tus datos</p>
		<form action="contacto" method="post">
		  {% csrf_token %}
		  <label for="nombre">Nombre: </label>
		  <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" />
		  <br />
		  <label for="apellido">Apellido: </label>
		  <input type="text" id="apellido" name="apellido" placeholder="Escribe tu apellido"/>
		  <br />
		  <button type="submit">Enviar </button>
	        </form>
	</body>
</html> 
